<%- include('layout/header') %>

<div class="container">
  <div class="row my-4">
    <div class="col-lg-12">
      <h1>Home Page Challenge 7</h1>
    </div>
  </div>
</div>

<%- include('layout/footer') %>
