<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"
      integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Register Page</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/"><i class="fas fa-code me-2"></i>Challenge 7</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="my-nav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"><i class="fas fa-home me-1"></i>Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/view/login"><i class="fas fa-user me-1"></i>Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" style="justify-content: center; display: flex">
      <div class="row my-4">
        <div class="col-lg-12">
          <h1>Create your account</h1>
          <div class="card-body p-4">
            <form action="/view/register" method="post" style="justify-content: center">
              <div class="mb-3">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Insert your username" />
              </div>
              <div class="mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Insert your password" />
              </div>
              <div class="mb-3 d-grid">
                <button type="submit" name="submit" class="btn btn-primary btn-lg">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <br />
  </body>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"
    integrity="sha512-pax4MlgXjHEPfCwcJLQhigY7+N8rt6bVvWLFyUMuxShv170X53TRzGPmPkZmGBhk+jikR8WBM4yl7A9WMHHqvg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
</html>
